<footer class='top-page-footer'>
  <h2 class='footer-message'>
    お店の方はこちらから！
  </h2>
  <div clss='footer-navigate'>
    <ul class='nav'>
    <li class='navi-list'>新規登録</li>
    <li class='navi-list'>ログイン</li>
    <li class='navi-list'>ログアウト</li>
    </ul>
  </div>
</footer>